.routeGreen {
    animation: routeGreenShift infinite 5s ease;
    pointer-events: none;
    animation-delay: 1.6s;
  }
  
  .routeBlue {
    animation: routeBlueShift infinite 5s ease;
    pointer-events: none;
  }
  
  .routeTrack {
    animation: routeTrackShift infinite 5s ease;
    pointer-events: none;
    animation-delay: 0.8s;
  }

  @keyframes routeGreenShift {
    0% {
      top: 50px;
    }
  
    50% {
      top: 30px;
    }
  
    100% {
      top: 50px
    }
  }
  
  @keyframes routeBlueShift {
    0% {
      bottom: 100px;
    }
  
    50% {
      bottom: 120px;
    }
  
    100% {
      bottom: 100px
    }
  }
  
  @keyframes routeTrackShift {
    0% {
      bottom: 100px;
    }
  
    50% {
      bottom: 120px;
    }
  
    100% {
      bottom: 100px
    }
  }
  